# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Rust
rust_engine/target/
rust_engine/Cargo.lock

# Build & Dist
build/
dist/
*.spec
*.app
*.dmg
*.exe
*.deb

# OS
.DS_Store

# Brain Data
.gemini/
